@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Colors
$colors: (purple: #4b48eb,
purple-dark: darken(#4b48eb, 10%), 
blue: #0e38b1,
red: #e54b4b,
accent:hsl(157, 100%, 41%),
white: #fff);

// fonts
$font-stack: 'Montserrat',
sans-serif;

// Color Function
@function color($color-name) {
  @return map-get($colors, $color-name)
}

body {
  font-family: $font-stack;
  overflow: hidden;
}

// contents
.hero {
  clip-path: polygon(100% 0, 100% 74%, 31% 100%, 0 100%, 0 0);
  width: 100vw;
  height: 100vh;
}

#loading {
  width: 3rem;
  height: 3rem;
}

img {
  position: absolute;
  width: 24em;
  bottom: -1em;
}

// Forms
.input-group {
  // titles
  .input-group-prepend {
    .input-group-text {
      // background: color(purple);
      // color: color(white);
    }
  }
  // values
  input {
    background: color(white);
    // color: color(white);
  }

}


.results {
  .input-group {
    // titles
    .input-group-prepend {
      .input-group-text {
        // background: color(purple);
        // color: color(white);
      }
    }

    // values
    input {
      background: color(white);
      // color: color(white);
    }

  }
}

// backgrounds
.bg-purple {
  background: color(purple);
}

.bg-blue {
  background: color(blue);
}

.bg-blue {
  background: color(red);
}