@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Colors
$colors: (purple: #4b48eb,
purple-dark: darken(#4b48eb, 10%), 
dark: #222222,
blue: #0e38b1,
red: #e54b4b,
accent:hsl(157, 100%, 41%),
white: #fff);

// fonts
$font-stack: 'Montserrat',
sans-serif;

// Color Function
@function color($color-name) {
  @return map-get($colors, $color-name)
}

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

// contents
.hero {
  clip-path: polygon(100% 0, 100% 83%, 21% 100%, 0 100%, 0 0);
  width: 100%;
  height: 100%;
  position: absolute;
}

#loading {
  width: 3rem;
  height: 3rem;
}

img {
  position: absolute;
  width: 24em;
  bottom: -1em;
}

// Forms
.input-group {
  // titles
  // .input-group-prepend {
  //   .input-group-text {
  //     // background: color(purple);
  //     // color: color(accent);
  //   }
  // }
  // values
  input {
    background: color(white);
    // color: color(white);
  }

}


.results {
  .input-group {
    // titles
    // .input-group-prepend {
    //   .input-group-text {
    //     // background: color(purple);
    //     // color: color(white);
    //   }
    // }

    // values
    input {
      background: color(white);
      color: color(dark);
      font-weight: 700;
    }

  }
}

// backgrounds
.bg-purple {
  background: color(purple);
}

.bg-blue {
  background: color(blue);
}

.bg-blue {
  background: color(red);
}