body {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  -webkit-clip-path: polygon(100% 0, 100% 83%, 21% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 83%, 21% 100%, 0 100%, 0 0);
  position: absolute;
}

#loading {
  width: 3rem;
  height: 3rem;
}

.input-group input {
  background: #fff;
}

.results {
  font-family: "Montserrat", sans-serif;
}

.results .input-group input {
  background: #fff;
  font-weight: 700;
}

.bg-purple {
  background: #4b48eb;
}

.bg-blue {
  background: #0e38b1;
}

.bg-blue {
  background: #e54b4b;
}

.bg-terminal {
  background: #222222;
  color: #4AF626;
}

.konami {
  font-family: "Press Start 2P", cursive;
  cursor: url("/img/cursor.png"), auto;
}

@-webkit-keyframes RGBshift {
  0% {
    -webkit-transform: rotate(0deg);
    text-shadow: 5px 10px 0px #f5f5f1;
    opacity: 1;
  }
  6% {
    -webkit-transform: rotate(0.5deg) scale(1.01);
    text-shadow: 1px 1px 0px rgba(255, 0, 0, 0.5), -5px -2px 0px rgba(0, 255, 0, 0.5), -2px 4px 0px rgba(0, 0, 255, 0.5);
    opacity: 1;
  }
  10% {
    -webkit-transform: rotate(0deg);
    text-shadow: 8px -2px 0px rgba(255, 0, 0, 0.5), -5px -2px 0px rgba(0, 255, 0, 0.5), 2px -2px 0px rgba(0, 0, 255, 0.5);
    opacity: 0.6;
  }
  12% {
    text-shadow: none;
    opacity: 1;
  }
  58% {
    -webkit-transform: rotate(0deg);
    text-shadow: none;
    opacity: 1;
  }
  59% {
    text-shadow: -5px -8px 0px #f5f5f1;
    opacity: 0.6;
  }
  62% {
    -webkit-transform: rotate(-0.5deg) scale(1.01);
    text-shadow: 8px -2px 0px rgba(255, 0, 0, 0.5), -5px -2px 0px rgba(0, 255, 0, 0.5), 2px -2px 0px rgba(0, 0, 255, 0.5);
    opacity: 1;
  }
  64% {
    -webkit-transform: rotate(-0.75deg) scale(1.01);
  }
  67% {
    text-shadow: none;
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes RGBshift {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    text-shadow: 5px 10px 0px #f5f5f1;
    opacity: 1;
  }
  6% {
    -webkit-transform: rotate(0.5deg) scale(1.01);
            transform: rotate(0.5deg) scale(1.01);
    text-shadow: 1px 1px 0px rgba(255, 0, 0, 0.5), -5px -2px 0px rgba(0, 255, 0, 0.5), -2px 4px 0px rgba(0, 0, 255, 0.5);
    opacity: 1;
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    text-shadow: 8px -2px 0px rgba(255, 0, 0, 0.5), -5px -2px 0px rgba(0, 255, 0, 0.5), 2px -2px 0px rgba(0, 0, 255, 0.5);
    opacity: 0.6;
  }
  12% {
    text-shadow: none;
    opacity: 1;
  }
  58% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    text-shadow: none;
    opacity: 1;
  }
  59% {
    text-shadow: -5px -8px 0px #f5f5f1;
    opacity: 0.6;
  }
  62% {
    -webkit-transform: rotate(-0.5deg) scale(1.01);
            transform: rotate(-0.5deg) scale(1.01);
    text-shadow: 8px -2px 0px rgba(255, 0, 0, 0.5), -5px -2px 0px rgba(0, 255, 0, 0.5), 2px -2px 0px rgba(0, 0, 255, 0.5);
    opacity: 1;
  }
  64% {
    -webkit-transform: rotate(-0.75deg) scale(1.01);
            transform: rotate(-0.75deg) scale(1.01);
  }
  67% {
    text-shadow: none;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.rgbSplit {
  -webkit-animation: RGBshift 2s infinite alternate;
  animation: RGBshift 2s infinite alternate;
}
/*# sourceMappingURL=style.css.map */